.box{
    border: solid 3px black;
    width: 15%;
    margin-top: 20%;
    margin-left: 40%;
}
.loginText{
    margin-left: 40%;
    margin-top: 3%;
}
.Text{
    margin-left: 20%;
    margin-bottom: 2%;
}
.emailInput{
    margin-left: 20%;
}
.passwordInput{
    margin-left: 20%;
    text-decoration: dotted;
}
.message{
    margin-left: 3%;
    font-size: large;
    color: red;
    margin-bottom: 3%;
}
.loginBut{
    width: 25%;
    height: 30px;
    margin-top: 3%;
    margin-left: 40%;
    margin-bottom: 3%;
}
.registerText{
    margin-left: 28%;
    margin-bottom: 4%;
}